<section>
  <form action="/hiker/edit" class="em-form" method="POST">
    <h1>Edit Your Account
      <span>Please fill all the texts in the fields.</span>
    </h1>
    <label>
      <span>First Name :</span>
      <input type="text" name="first_name" id="first_name" value="<%= @hiker.first_name %>">
    </label>

    <label>
      <span>Last Name :</span>
      <input type="text" name="last_name" id="last_name" value="<%= @hiker.last_name %>">
    </label>

    <label>
      <span>Email :</span>
      <input type="email" name="email" id="email" value="<%= @hiker.email %>">
    </label>

    <label>
      <span>Choose a Club :</span>
      <select name="club_id">
        <% Club.all.each do |club| %>
          <option value="<%= club.id %>" <%='selected' if @hiker.club.id == club.id %>><%= club.name %></option>
        <% end %>
      </select>
    </label>

    <label>
      <span>&nbsp;</span> 
      <input type="submit" id="submit" class="button" name="submit" value="Update">
    </label>
  </form>

  <br>
  <div style="text-align: center; color: red; font-weight: bold;">
    <% if @error_message %>
      <p><%= @error_message %></p>
    <% end %>
  </div>
</section>