<main>
  <header>
    <h1>Your Account Information</h1>
    <p>Welcome, <%= @hiker.first_name %>!</p>
  </header>
  <hr>  
  <section class="col-3">
    <h2>Your Details</h2>
    <article class="col-2 box">
      <img src="/images/profile.jpg" alt="Profile Image">
      <p><b>Name:</b> <%= @hiker.first_name %> <%= @hiker.last_name %></p>
      <p><b>Email:</b> <%= @hiker.email %></p>
      <p><b>Username:</b> <%= @hiker.username %></p>
      <p><b>Club Membership:</b> <%= @hiker.club.name %></p>
      <a href="/hiker/edit">Edit your profile</a>
    </article>
    <article class="col-1 box">
      <h5>Your Quick Facts</h5>
      <p><b>Total Hikes:</b> <%= @hikes.count %></p>
      <%# <p><b>Tallest Mountain Climbed:</b> </p> %>
    </article>
  </section>

  <hr>
  <section class="col-3">
    <% if @hikes.size > 0 %>
      <h2 style="margin-bottom: 10px;">Quick View - Your Hiking Activity - <a href="/hikes">View more details and work on your hikes</a></h2>
      <% @hikes.each do |hike| %>
        <article class="col-1 box">
          <h5><%= hike.mountain.name %></h5>
          <p><b>Hike Date:</b> <%= hike.hike_date.strftime("%B %d, %Y") %></p>
          <p><b>Comments:</b> <%= hike.comments %></p>
        </article>
      <% end %>
    <% else %>
      <h2 style="margin-bottom: 10px;">Quick View - Your Hiking Activity</h2>
      <article style="padding: 30px;">
        <h4 style="margin-bottom: 15px;">You have no hikes recorded.</h4>
        <p><a href="/hikes/new">Get started by adding a new hike</a></p>
      </article>
    <% end %>
  </section>

  
</main>