<h1>Edit Your Account and Hiking Experiences</h1>
<section>
  <form action="/hikers/edit" method="POST">
    <label>First Name: <input type="text" name="first_name" id="first_name" value="<%= @hiker.first_name %>"></label>
    <label>Last Name: <input type="text" name="last_name" id="last_name" value="<%= @hiker.last_name %>"></label>
    <label>Email: <input type="email" name="email" id="email" value="<%= @hiker.email %>"></label>

    <fieldset>
      <legend>Club Membership:</legend>
      <p>Edit your club membership</p>

      <select name="club_id">
        <% Club.all.each do |club| %>
          <option value="<%= club.id %>" <%='selected' if @hiker.club.id == club.id %>><%= club.name %></option>
        <% end %>
      </select>
    </fieldset>
    <input type="submit" id="submit" name="submit" value="Update">
  </form>
</section>