<section>
  <form action="/hikes/<%= @hike.id %>" method="POST" class="em-form">
    <h1>Edit a hike
      <span>Update details of your hike</span>
    </h1>

    <label>
      <span>Mountain:</span>
      <select name="mountain_id">
        <% Mountain.all.each do |mountain| %>
          <option value="<%= mountain.id %>" <%='selected' if @hike.mountain_id == mountain.id %>><%= mountain.name %></option>
        <% end %>
      </select>
    </label>

    <label>
      <span>Month:</span>
      <select name="month">
        <% (1..12).each do |month| %>
          <option value="<%= month %>" <%='selected' if @month == month.to_s %>><%= month %></option>
        <% end %>
      </select>
    </label>

    <label>
      <span>Day:</span>
      <select name="day">
        <% (1..31).each do |day| %>
          <option value="<%= day %>" <%='selected' if @day == day.to_s %>><%= day %></option>
        <% end %>
      </select>
    </label>

    <label>
      <span>Year:</span>
      <select name="year">
        <% (2017..2020).each do |year| %>
          <option value="<%= year %>" <%='selected' if @year == year.to_s %>><%= year %></option>
        <% end %>
      </select>
    </label>

    <label>
      <span>Comments:</span>
      <textarea name="comments" id="comments" rows="5" cols="50"><%= @hike.comments %></textarea>
    </label>

    <label>
      <span>&nbsp;</span> 
      <input type="submit" name="submit" id="submit" class="button" value="Update Hike">
    </label>
  </form>
</section>